table {
    width: 99%;
    border: 1px black solid;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px black solid;

}

.container {
    display: grid;
    height: 500px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}